body{
    background-color: white;
    margin:0px;
    padding: 0px;
    font-family: ubuntu condensed;
    font-weight: bold;
}
.container{
    margin: 0 auto;
    width: 100%;
}
.clear{
    clear: both;
}
.line{
    height: 30px;
    background-color:#1e1f20;
    width: 100%;
}
.line2{
    background-color:#88c040;
}
        /*   navigation   Esraa shata     */ 
.logo{
    float: left; 
}
.logo img{
    height: 77px;
    width: 175px;
}
nav{
    display: inline-block;
    margin-left: 90px;
    float: left;
}
nav ul{
    text-align: center;
    list-style: none;
    display: inline-block;

}
nav ul li {
    display: inline;
    padding: 18px;
    font-size: 26px;
    font-family:ubuntu condensed;
}
nav ul li a{
    text-decoration: none;
    color: #ed1e24;
}
nav ul li a:hover{
    text-decoration: none;
    color:#88c040;
}
    /* END  navigation   Esraa shata     */ 
    /*  CSS   follow us  Esraa shata */
.foot{
    padding-top: 30px;
    float: left;
    color: #ed1e24;
    font-size: 40px;
    text-align: center;
}

.social{
    float: left;
    height: 150px;
}
.soc{
    margin-top: 20px;
}

/*  END CSS  follow us  Esraa shata */
