body{
    background-color: white;
    margin:0px;
    padding: 0px;
    font-family: ubuntu condensed;
    font-weight: bold;
}
.container{
    margin: 0 auto;
    width: 100%;
}
.clear{
    clear: both;
}
.line{
    height: 30px;
    background-color:#1e1f20;
    width: 100%;
}
.line2{
    background-color:#88c040;
}
